<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="container">

  <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      	<form role="form">
  			<h2>Sign Up</h2>
  			<hr class="colorgraph">
  			<div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class: "form-control input-lg", placeholder: "User Name" %>
  			</div>
  			<div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "Email Address" %>
  			</div>
  			<div class="row">
  				<div class="col-xs-6 col-sm-6 col-md-6">
  					<div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Password" %>
  					</div>
  				</div>
  				<div class="col-xs-6 col-sm-6 col-md-6">
  					<div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-lg", placeholder: "Password confirmation" %>
  					</div>
  				</div>
  			</div>

  			<hr class="colorgraph">
  			<div class="row">
  				<div class="col-xs-6 col-md-6"><%= f.submit "Sign up", value: "Register", class: "btn btn-primary btn-block btn-lg" %></div>
  				<div class="col-xs-6 col-md-6"><%= link_to "Sign in", new_user_session_path, class: "btn btn-success btn-block btn-lg" %></div>
  			</div>
  		</form>
  	</div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
  		<div class="modal-content">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  				<h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
  			</div>
  			<div class="modal-body">
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
  			</div>
  			<div class="modal-footer">
  				<button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
  			</div>
  		</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  </div>
<% end %>
